/*颜色*/
:root {
  /*卡片背景*/
  --main-card-background: rgba(255, 255, 255, 0.85);
  /*卡片边框*/
  --main-card-border: #e3e8f7;
  /*卡片阴影*/
  --main-border-shadow: #2c2d300c;
  /*卡片 hover */
  --about-card-hover-bg: rgba(100, 190, 190, 0.8);
  /*按钮 背景*/
  --home-action-bnt-bg:rgb(235, 235, 239);
  /*语言 span 背景*/
  --about-me-skill-item-bg: #f4f2ed;
}
[data-theme="dark"] {
  --main-card-background: rgba(27, 28, 32, 0.85);
  --main-card-border: #3d3d3f;
  --main-border-shadow: #00000050;
  --about-card-hover-bg: rgba(100, 190, 190, 0.8);
  --home-action-bnt-bg:rgb(50, 54, 63);
  --about-me-skill-item-bg: #15191c;
}

/*卡片背景*/
.about-me-card-bg{
  padding: 1rem;
  border-radius: 12px;
  background-color: var(--main-card-background);
  border: 1px solid var(--main-card-border);
  box-shadow: 0 8px 12px -4px var(--main-border-shadow);
  overflow: hidden;
}

/*卡片文字 小号*/
.about-me-card-title-normal{
  color: var(--vp-c-text-2);
  font-size: 13px;
  margin-bottom: 10px;
}

/*卡片文字 大号*/
.about-me-card-text-mid{
  color: var(--vp-c-text-1);
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}

/*卡片文字 大号*/
.about-me-card-text-big{
  color: var(--vp-c-text-1);
  margin: 10px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  @media screen and (max-width: 770px) {
    font-size: 24px;
    margin: 7px 0;
  }
}

/*卡片文字 暗色*/
.about-me-card-text-soft{
  color: var(--vp-c-text-2);
}

/*卡片文字 彩色*/
.about-me-card-text-color{
  background: var(--vp-bg-home-hero-name, linear-gradient(315deg, var(--vp-c-purple-1) 10%, var(--vp-c-brand-2) 75%, var(--vp-c-brand-2) 100%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
